.gradient-custom {
    /* fallback for old browsers */
    background: #1dc517;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 203, 36), rgb(179, 255, 175));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(29, 203, 17), rgb(163, 255, 160))
    }

